.version.account{color:#000010;background-color:#0B9308;}#muse_css_mq{background-color:#FFFFFF;}#page{z-index:1;min-height:500px;background-image:none;border-width:0px;border-color:#000000;background-color:transparent;width:100%;max-width:960px;margin-left:auto;margin-right:auto;}#page_position_content{padding-bottom:383px;width:100%;}#u108{z-index:2;min-height:47px;padding-bottom:14px;}#u108_align_to_page{margin-left:auto;margin-right:auto;position:relative;}#u114-4{z-index:3;min-height:28px;position:relative;margin-right:-10000px;margin-top:19px;width:14.17%;left:76.15%;}.js body{visibility:hidden;}.js body.initialized{visibility:visible;}#u108-bw{z-index:2;min-height:47px;}#pu120-4{z-index:7;margin-top:25px;width:100%;}#u120-4{z-index:7;position:relative;margin-right:-10000px;width:10.11%;left:5.84%;}#u129-4{z-index:11;min-height:21px;position:relative;margin-right:-10000px;margin-top:4px;width:9.07%;left:22.82%;}#u129-4.MuseLinkActive{padding-top:0px;padding-bottom:0px;min-height:21px;width:9.07%;margin:4px -10000px 0px 0%;}#u132-4{z-index:15;min-height:21px;position:relative;margin-right:-10000px;margin-top:4px;width:13.44%;left:35.42%;}#u132-4.MuseLinkActive{padding-top:0px;padding-bottom:0px;min-height:21px;width:13.44%;margin:4px -10000px 0px 0%;}.css_verticalspacer .verticalspacer{height:calc(100vh - 500px);}.html{background-color:#1BBC9B;}body{position:relative;min-width:320px;}


#user-info {
	padding-top: 200px;
	font-family: muli, sans-serif;
	font-weight: 600;
	font-size: 24px;
	color: #FFFFFF;
	margin-left: 6%;
}

#logout-submit {
	display: inline;
	position: relative;
	background-color: transparent;
	color: #FFFFFF;
}

.account {
	cursor: pointer;
	color: white;
	background-color: transparent;
}

#edit-submit {
	padding-top: 7px;
	color: #1BBC9B;
	background-color: transparent;
}

#submit-button-div {
    z-index: 21;
    min-height: 36px;
    background-color: #FFFFFF;
    border-radius: 7px;
    line-height: 18px;
    text-align: center;
    font-size: 15px;
    color: #1BBC9B;
    font-family: muli, sans-serif;
    font-weight: 400;
    margin-top: 15px;
    position: relative;
    width: 17.4%;
    margin-left: 43.03%;
}

#message {
	text-align: center;
}