/*remember to include this file in your html page*/
table{
	float: right;
	display: inline-block;
	margin-right: 0px;
	width: 62%;
	margin-top:55px;
	color: #2D3E50; 
	font-family:muli, sans-serif
}
td{
    transition: width 1s;
}

tr{
    transition: width 1s;
}
.tab{
	width: 50px;
}
.selected{
	width:450px;
	margin: 0px;
	height: 570px;
	padding: 0px;
    transition: width 1s;
}
.card{
	margin: 0px;
	padding: 0px;
	height: 100%;
	opacity: 0;
	transition: opacity 1s;
}
.tmp{
	width: 50px;
	margin: 0px;
	height: 570px;
	background: white;
    transition: width 1s;
}
.contain{
	position: relative;
	height: 100%; /*feel free the change the height to fit your data vis*/
	right: 0px;
	left: 0px;
	background-color: white;
	box-shadow: 0px 0px 5px white;
}
#svg{
	width: 90%;
	margin-left: 5%;
}
svg{
}
.buttons span{
	padding-right: 30px;
}
.buttons{
	padding: 10px;
	margin-left: 5%;
	color: #AEAEAE;
	text-align: center;
}
.domain{
	stroke: #2D3E50;
}
.ticks{
	stroke: #2D3E50;
}
g text{
	fill: #2D3E50;
}
#notifs{
	margin-left: 30px;
	margin-top: 14px;
}
#notifs h1{
	font-size: 14pt;
	color: #E64C66;
}
#notifs div{
	padding: 5px;
	margin-left: 5px;
	font-size: 12pt;
}
#sublansing{
	background-color: #8DDECD;
}
#subsouth{
	background-color: #8DDECD;
}
#subnorth{
	background-color: #C6EEE6;
}