.version.index{color:#000007;background-color:#D96AF8;}#muse_css_mq{background-color:#FFFFFF;}#page{z-index:1;min-height:499.64999999999986px;background-image:none;border-width:0px;border-color:#000000;background-color:transparent;padding-bottom:0px;width:100%;max-width:960px;margin-left:auto;margin-right:auto;}#page_position_content{padding-bottom:13px;width:100%;}#u987{z-index:2;min-height:44px;padding-bottom:17px;}#u987_align_to_page{margin-left:auto;margin-right:auto;position:relative;}#u992-4{z-index:7;min-height:23px;position:relative;margin-right:-10000px;margin-top:21px;width:17.4%;left:76.98%;}.js body{visibility:hidden;}.js body.initialized{visibility:visible;}#u987-bw{z-index:2;min-height:44px;}#u986-4{z-index:3;margin-top:25px;position:relative;width:10.11%;margin-left:5.84%;}#u937-10{z-index:11;min-height:138px;background-color:transparent;color:#FFFFFF;font-family:muli, sans-serif;font-weight:400;margin-top:126px;position:relative;width:88.23%;margin-left:5.63%;}#u937-2,#u937-3{font-size:30px;text-align:center;line-height:36px;}#u937-6{font-size:15px;text-align:center;line-height:18px;}#u937-4{font-style:italic;}#u937-7{font-size:18px;text-align:center;line-height:22px;}#u937-8{font-size:18px;line-height:22px;}#u1003-4{z-index:21;min-height:36px;background-color:#FFFFFF;border-radius:7px;line-height:18px;text-align:center;font-size:15px;color:#1BBC9B;font-family:muli, sans-serif;font-weight:400;margin-top:15px;position:relative;width:17.4%;margin-left:43.03%;}#u1003-2{padding-top:9px;}#u1009{z-index:25;min-height:351px;border-style:solid;border-width:1px;border-color:#E64C66;background-color:#E64C66;padding-bottom:97px;}#u1009_align_to_page{margin-left:auto;margin-right:auto;position:relative;max-width:959px;}#u1012-7{z-index:26;min-height:263px;background-color:transparent;color:#FFFFFF;font-family:muli, sans-serif;font-weight:400;position:relative;margin-right:-10000px;margin-top:88px;width:37.86%;left:5.53%;}#pu1118{z-index:55;padding-bottom:0px;margin-right:-10000px;margin-top:153px;width:46.82%;margin-left:47.03%;}#u1118{z-index:55;background-color:transparent;position:relative;width:100%;}#u1095-4{z-index:51;min-height:27px;background-color:transparent;color:#FFFFFF;font-family:muli, sans-serif;font-weight:400;margin-top:8px;position:relative;width:14.26%;margin-left:48.33%;}#u1009-bw{z-index:25;min-height:351px;margin-top:118px;}#u1015{z-index:33;min-height:368px;border-style:solid;border-width:1px;border-color:#FFFFFF;background-color:#FFFFFF;padding-bottom:80px;}#u1138{z-index:57;background-color:transparent;position:relative;margin-right:-10000px;margin-top:79px;width:33.58%;left:10.75%;}#u1016-5{z-index:34;min-height:131px;background-color:#FFFFFF;color:#2D3E50;font-family:muli, sans-serif;font-weight:400;position:relative;margin-right:-10000px;margin-top:158px;width:37.86%;left:56%;}#u1015-bw{z-index:33;min-height:368px;margin-top:-2px;}#u1021{z-index:39;min-height:351px;border-style:solid;border-width:1px;border-color:#2D3E50;background-color:#2D3E50;padding-bottom:97px;}#u1015_align_to_page,#u1021_align_to_page{margin-left:auto;margin-right:auto;position:relative;max-width:959px;margin-bottom:-2px;}#u1022-7{z-index:40;min-height:263px;background-color:transparent;color:#FFFFFF;font-family:muli, sans-serif;font-weight:400;position:relative;margin-right:-10000px;margin-top:88px;width:37.86%;left:5.53%;}#u1012-2,#u1012-3,#u1016-2,#u1022-2,#u1022-3{font-size:24px;line-height:36px;}#u1012-5,#u1016-3,#u1022-5{font-size:16px;line-height:29px;}#pu1148{z-index:59;margin-right:-10000px;margin-top:113px;width:44.53%;margin-left:49.33%;}#u1148{z-index:59;background-color:transparent;position:relative;width:100%;}#u1118_img,#u1138_img,#u1148_img{width:100%;}#u1158-4{z-index:61;min-height:32px;background-color:transparent;color:#FFFFFF;font-family:muli, sans-serif;font-weight:400;margin-top:11px;position:relative;width:21.55%;margin-left:52.7%;}#u1021-bw{z-index:39;min-height:351px;margin-top:-2px;}.css_verticalspacer .verticalspacer{height:calc(100vh - 1957px);}#u1027-4{z-index:47;min-height:24px;background-color:transparent;line-height:14px;font-size:12px;color:#FFFFFF;font-family:muli, sans-serif;font-weight:400;margin-top:24px;position:relative;width:18.44%;margin-left:5.73%;}.html{background-color:#1BBC9B;}body{position:relative;min-width:320px;}

.width1 {
	width: 200px;
}

.width1-border {
	border: 1px solid black;
	width: 200px;
}

.width2 {
	width: 300px;
}

.width3 {
	width: 500px;
}

#form {
	font-family: muli, sans-serif;
	font-weight: 400;
	color: white;
	display: none;
	text-align: left;
	margin-left: 25%;
}

#submit {
	background-color: transparent;
	padding-top: 9px;
	color: #1BBC9B;
	text-align: center;
}

#message {
	font-family: muli, sans-serif;
	font-weight: 400;
	color: white;
	text-align: center;
}

#login-message {
	font-family: muli, sans-serif;
	font-weight: 400;
	color: #E64C66;
	text-align: left;
}

#login-message-succ {
	font-family: muli, sans-serif;
	font-weight: 400;
	color: #1BBC9B;
	text-align: left;
}

#login-submit {
	display: inline;
	position: relative;
	background-color: transparent;
}

#pop-up {
	font-family: muli, sans-serif;
	font-weight: 400;
	color: #1BBC9B;
	display: none;
}