/* Styling for the web page -- color scheme via https://color.adobe.com/Green-Dark-Blue-color-theme-3854662/ */

body {
	margin: 0px;
	padding: 0px;
	font-family: helvetica;
}

header {
	color: white;
	background-color: #1BBC9B;
	padding: 10px;
}

.gray {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 40%;
    height: 100%;
    background-color: #AEAEAE;
    z-index: -1;
}

.white {
	display: inline-block;
	position: fixed;
    top: 0px;
    padding: 50px;
    left: 40%;
    height: 100%;
    background-color: white;
    z-index: -1;
}

#day {
	display: block;
}

#week {
	display: none;
}

#month {
	display: none;
}

#year {
	display: none;
}

.button {
	border: none;
	background: transparent;
    color: #AEAEAE;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 8px;
    cursor: pointer;
}


/* Styling for the d3 graphs */

.energyline {
  fill: none;
  stroke: #E64C66;
  stroke-width: 2px;
}

.area {
    fill: #E64C66;
    opacity: .5;
}